/* La partie main */

/* .img-jeu{
    padding: 50px;
} */

.accordion{
    padding: 30px;
}

.carousel-indicators{
    bottom: -55px;
}
.carousel-indicators li{
    background-color:#1994AD;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}


.card-body{
    padding-bottom: 50px;
}



.gameCard{
    width: 93%;
    display: block;
    margin: 2rem auto;
    background-color:#F0FAFB;
    border-radius: 10px;
    box-shadow: 8px 8px 12px rgba(0,139,139, .5);
    margin-bottom: 4rem;
}

.gameCard .img-jeu{
    width: 250px;
    height: 250px;
    display: block;
    margin: 1rem auto;
    box-shadow: 8px 8px 12px rgba(0,139,139, .5);
    transform: rotate(10deg);
    border-radius: 10px;
    transform: rotate(10deg);
    transition: all 300ms;
}



.card-body h3{
    font-size: 1.2rem;
}


.card-header h2 button{
    font-size: 1.6rem;
    color: #000000;
}




.caracteristique img{
    width: 70px;
    height: 70px;
}

.images-caracteristiques img{
    padding: 1rem 0 1rem 0;
}

.desc-caracteristiques span{
    padding: 34px 0 13px 20px;
    font-weight: bold;
}

.carousel-item img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}





@media screen and (min-width: 992px){
    main{
        margin: 0 auto;
    }

    .gameCard{
        width: 50%;
    }

    main img{
        margin: 0 auto;
    }

    .carousel-item img{
        width: 300px;
        height: 300px;
    }


}






